{% extends 'base.html.twig' %}

{% block title %}
	Connexion
{% endblock %}

{% block body %}
	<div class="max-w-full h-full flex flex-col font-family bg-black" id="connection">

		<h2 class="text-white text-50 p-2.5 pt-16 tracking-wider">Connexion</h2>

		<div class="w-full flex grow justify-center items-center">
			<div class="w-5/12 flex justify-center">
				<form class="w-full text-white" method="post">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3 flex flex-col text-18 text-white">
							Vous êtes connecté(e) comme
							{{ app.user.userIdentifier }},
							<a class="text-rose py-1.5" href="{{ path('app_logout') }}">Me déconnecter</a>
						</div>
					{% endif %}

					<div class="flex flex-col my-3 p-1.5">
						<label class="text-20" for="inputEmail">E-mail</label>
						<input class="text-18 text-rose outline-none border-b-2 border-white bg-transparent" type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
					</div>

					<div class="flex flex-col my-3 p-1.5">
						<label class="text-20" for="inputPassword">Mot de passe</label>
						<input class="text-18 text-rose outline-none border-b-2 border-white bg-transparent" type="password" name="password" id="inputPassword" autocomplete="current-password" required>
					</div>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<div class="w-full flex justify-center my-3 p-1.5">
						<button class="text-20 p-3 border-2 border-white rounded-2xl" type="submit">
							Me connecter
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
