{% extends "base.html.twig" %}

{% block title %}
	Home
{% endblock %}

{% block body %}
	<div class="relative max-w-full overflow-hidden font-family" id="session">
		<div class="relative overflow-hidden snip1573 max-w-full flex" id="home">
			<div class="w-6/12 bg-black" id="home-left"></div>
			<div class="w-6/12 relative" id="home-right"></div>

			<div id="triangleTwo-transparent">
				<div class="figcationText">
					<a href="{{ path('home')}}#works">View my works</a>
				</div>
			</div>

			<div id="triangle"></div>
			<div id="triangleTwo">
				<img class="triangleTwo--img" src="{{ asset('images/images/Polygon-1.webp')}}" alt="Image représentant le visage de la web Développeuse">
			</div>
		</div>

		<div class="relative flex justify-center h-auto -top-40 max-md:-top-48 max-s:-top-64">
			<div class="absolute inline-flex max-s:flex max-s:flex-col max-xsss: mt-10">
				<span class="static-text text-60 text-rose tracking-wider max-md:text-55 max-s:text-50 max-s:text-center">I'm a</span>
				<span class="text-indigo text-60 tracking-wider max-md:text-55 max-s:text-50" id="dynamic-text"></span>
			</div>
		</div>

		<div class="figcaption"></div>
	</div>

	<div class="max-w-full flex justify-center bg-black font-family" id="about">
		<div class="w-9/12 max-sBIG:w-10/12 flex flex-col my-5">
			<h2 class="text-white text-center text-50 p-2.5 pt-16 tracking-wider">About</h2>

			<div class="w-full flex grow max-mdBIG:block max-lgBIG:flex-col">
				<div class="w-6/12 max-lgBIG:w-full" id="about-left">
					<div class="relative max-w-full h-full flex justify-center items-center">
						<div class="absolute -left-full text-rose text-22 text-center p-5 italic tracking-wider opacity-0 max-xxlMD:text-20" id="movingText">
							<p>
								<span class="text-indigo text-35">"</span>
								<span>En pleine reconversion professionnelle,</span>
							</p>
							<p>Je me suis lancée dans l'informatique après</p>
							<p>une quinzaine d'années en tant que fleuriste.</p>
							<p>Une prise de risque ??? OUI !!!</p>
							<p>Je n'avais pas beaucoup de connaissances dans le domaine,</p>
							<p>et le pari a été gagnant !!!</p>
							<p>Me voilà avec mon diplôme</p>
							<p>et une distinction dans la poche après 2 ans...</p>
							<p>Il fallait juste y croire et s'accrocher !!!
								<span class="text-indigo text-35">"</span>
							</p>
						</div>
					</div>
				</div>
				<div class="w-6/12 max-lgBIG:w-full" id="about-right">
					<div class="w-full h-full flex justify-center items-center">
						<div class="w-72 flex flex-col justify-center p-3 m-5">
							<p class="text-xl p-3 text-center text-30 text-white py-5">Mes Compétences</p>
							<div class="w-full p-1.5">
								<p class="text-white text-18">PHP</p>
								<div class="w-full bg-indigo rounded-xl" style="--progress-width: 70%">
									<div class="progressBar bg-rose text-end rounded-xl p-0.5">
										<span class="progressLetter mr-2.5 tracking-wider text-transparent">70%</span>
									</div>
								</div>
							</div>

							<div class="w-full p-1.5">
								<p class="text-white text-18">Symfony</p>
								<div class="w-full bg-indigo rounded-xl" style="--progress-width: 70%">
									<div class="progressBar bg-rose text-end rounded-xl p-0.5">
										<span class="progressLetter mr-2.5 tracking-wider text-transparent">70%</span>
									</div>
								</div>
							</div>

							<div class="w-full p-1.5">
								<p class="text-white text-18">Javascript</p>
								<div class="w-full bg-indigo rounded-xl" style="--progress-width: 60%">
									<div class="progressBar bg-rose text-end rounded-xl p-0.5">
										<span class="progressLetter mr-2.5 tracking-wider text-transparent">60%</span>
									</div>
								</div>
							</div>

							<div class="w-full p-1.5">
								<p class="text-white text-18">HTML / CSS</p>
								<div class="w-full bg-indigo rounded-xl" style="--progress-width: 90%">
									<div class="progressBar bg-rose text-end rounded-xl p-0.5">
										<span class="progressLetter mr-2.5 tracking-wider text-transparent">90%</span>
									</div>
								</div>
							</div>

							<div class="w-full p-1.5">
								<p class="text-white text-18">Tailwind</p>
								<div class="w-full bg-indigo rounded-xl" style="--progress-width: 80%">
									<div class="progressBar bg-rose text-end rounded-xl p-0.5">
										<span class="progressLetter mr-2.5 tracking-wider text-transparent">80%</span>
									</div>
								</div>
							</div>

							<div class="w-full p-1.5">
								<p class="text-white text-18">SASS</p>
								<div class="w-full bg-indigo rounded-xl" style="--progress-width:80%">
									<div class="progressBar bg-rose text-end rounded-xl p-0.5">
										<span class="progressLetter mr-2.5 tracking-wider text-transparent">80%</span>
									</div>
								</div>
							</div>

							<div class="w-full p-1.5">
								<p class="text-white text-18">MYSQL</p>
								<div class="w-full bg-indigo rounded-xl" style="--progress-width: 80%">
									<div class="progressBar bg-rose text-end rounded-xl p-0.5">
										<span class="progressLetter mr-2.5 tracking-wider text-transparent">80%</span>
									</div>
								</div>
							</div>

							<div class="w-full p-1.5">
								<p class="text-white text-18">FIGMA</p>
								<div class="w-full bg-indigo rounded-xl" style="--progress-width: 80%">
									<div class="progressBar bg-rose text-end rounded-xl p-0.5">
										<span class="progressLetter mr-2.5 tracking-wider text-transparent">80%</span>
									</div>
								</div>
							</div>

							<div class="w-full p-1.5">
								<p class="text-18 text-white">WordPress</p>
								<div class="w-full bg-indigo rounded-xl" style="--progress-width: 70%">
									<div class="progressBar bg-rose text-end rounded-xl p-0.5">
										<span class="progressLetter mr-2.5 tracking-wider text-transparent">70%</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="max-w-full bg-black" id="works">
		<div class="max-w-full flex justify-center font-family">
			<div class="w-9/12 max-lgMD:w-10/12 max-s:w-full">
				<h2 class="text-white text-center text-50 p-2.5 pt-16 tracking-wider">Works</h2>

				<div class="w-full flex grow justify-center pt-20 overflow-hidden">
					<div class="relative w-4/6 h-full max-lgBIG:w-4/5" id="container">

						{% if projects is not empty %}
							<ul class="relative w-full h-full text-white">
								{% for project in projects %}
									<li class="relative z-50 w-3/6 mb-5">
										<div class="containerLi relative z-50 w-full border border-white rounded-2xl">
											<h3 class="text-center text-25 text-rose my-3">{{project.object}}</h3>

											<p class="absolute w-32 -top-14 text-center text-18 text-white p-2 rounded-2xl" id="date">{{ project.formattedDate}}</p>

											<p class="text-center text-22 text-white my-3">{{project.name}}</p>

											<div class="projectContainer relative w-full h-56 flex flex-col justify-center">
												<img class="projectContainer--image object-cover w-full h-full" src="{{ asset('images/projets/' ~ project.image)}}" alt="Image représentant la couverture du projet">

												<div class="projectContainer--image2 w-full h-60 flex grow items-center">
													<div class="w-full h-full flex flex-col justify-center">
														<p class="my-2 text-18 text-center tracking-wider">
															{{ project.code }}
														</p>
														<a href="{{project.siteLink}}" target="_blank">
															<img class="my-2 iconMedium m-auto hover:scale-110" src="images/icons/Globe-256.png" alt="icone représentant le cycle du web">
														</a>
													</div>
												</div>
											</div>

											<div class="flex text-20 text-indigo m-5">
												<a class="buttonLink buttonLink--small text-white" href="{{project.siteLink}}" target="_blank">
													Visiter le site
												</a>
											</div>

											{% if project.figmaLink is not empty %}
												<div class="flex text-20 text-indigo m-5">
													<a class="buttonLink buttonLink--medium text-white" href="{{project.figmaLink}}" target="_blank">
														Explorer la maquette
													</a>
												</div>
											{% endif %}

											{% if project.gitLink is not empty %}
												<div class="flex text-20 text-indigo m-5">
													<a class="buttonLink buttonLink--medium text-white" href="{{project.gitLink}}" target="_blank">
														Consulter le code
													</a>
												</div>
											{% endif %}

											<div class="flex flex-col text-20 m-5">
												<div class="readMore flex text-indigo cursor-pointer hover:text-rose">
													<p class="underline underline-offset-4 decoration-2">En savoir plus</p>
													<div class="flex items-center p-1.5 ">
														<i class="fa-solid fa-chevron-right"></i>
													</div>
												</div>

												<div class="modal hidden my-3">
													<div class="modalText text-white text-18 rounded-2xl tracking-wide">
														{% for sentence in project.description|split('.') %}
															{% if sentence|trim is not empty %}
																<p class="mb-4">{{sentence|trim}}.</p>
															{% endif %}
														{% endfor %}
													</div>
												</div>
											</div>
										</div>

										<div class="circle absolute top-0 w-8 h-8 bg-fushia max-lgBIG:w-6 max-lgBIG:h-6 max-s:w-5 max-s:h-5 max-xsBig:w-4.5 max-xsBig:h-4.5"></div>
									</li>
								{% endfor %}
							</ul>
						{% else %}
							<p class="text-white">Aucun projet disponible pour le moment.</p>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="max-w-full h-full flex justify-center font-family bg-black" id="contact">

	<div class="w-9/12 max-lgMD:w-10/12">
		<h2 class="text-white text-center text-50 p-2.5 pt-16 tracking-wider">Contact</h2>

		<div class="max-w-full flex max-lgBIG:flex-col">
			<div class="w-2/4 flex justify-center items-center max-lgBIG:w-full">
				<div class="relative w-full h-full" id="containerImage">
					<img class="absolute object-contain" id="image1" src="{{ asset('images/images/ordi-transparent-1.webp')}}" alt="image représentant les lignes d'un ordinateur">

					<img class="absolute object-contain" id="image2" src="{{ asset('images/images/ordi-color.webp')}}" alt="image représentant un ordinateur">
				</div>
			</div>

			<div class="w-2/4 h-full max-lgBIG:w-full" id="contactForm">
				<div class="max-w-full h-full flex justify-center items-center">

					<div class="w-5/6 flex flex-col">
						<div class="w-full my-3">
							<div class="w-full text-18 text-center text-rose max-sBIG:text-16">
								<h3 class="my-5 text-rose text-center text-35">Me contacter</h3>
							</div>
						</div>

						<form action=""></form>
						{{ form_start(contactForm) }}

						<div class="w-full my-3 flex">
							<div class="w-32 text-white text-22 max-s:text-22 max-xs:text-18">
								{{ form_label(contactForm.firstname)}}
							</div>
							<div class="w-full">
								<div class="w-full text-18 text-rose max-sBIG:text-16">
									{{ form_widget(contactForm.firstname)}}
								</div>
								<div class="w-full text-18 text-red max-sBIG:text-16 formError">
									{{ form_errors(contactForm.firstname)}}
								</div>
							</div>
						</div>
						<div class="w-full my-3 flex">
							<div class="w-32 text-white text-22 max-s:text-22 max-xs:text-18">
								{{ form_label(contactForm.lastname)}}
							</div>
							<div class="w-full">
								<div class="w-full text-18 text-rose max-sBIG:text-16">
									{{ form_widget(contactForm.lastname)}}
								</div>
								<div class="w-full text-18 text-red max-sBIG:text-16 formError">
									{{ form_errors(contactForm.lastname)}}
								</div>
							</div>
						</div>
						<div class="w-full my-3 flex">
							<div class="w-32 text-white text-22 max-s:text-22 max-xs:text-18">
								{{ form_label(contactForm.email)}}
							</div>
							<div class="w-full">
								<div class="w-full text-18 text-rose max-sBIG:text-16">
									{{ form_widget(contactForm.email)}}
								</div>
								<div class="w-full text-18 text-red max-sBIG:text-16 formError">
									{{ form_errors(contactForm.email)}}
								</div>
							</div>
						</div>
						<div class="w-full my-3 flex">
							<div class="w-32 text-white text-22 max-s:text-22 max-xs:text-18">
								{{ form_label(contactForm.message)}}
							</div>
							<div class="w-full">
								<div class="w-full text-18 text-rose max-sBIG:text-16">
									{{ form_widget(contactForm.message)}}
								</div>
								<div class="w-full text-18 text-red max-sBIG:text-16 formError">
									{{ form_errors(contactForm.message)}}
								</div>
							</div>
						</div>

						<div class="w-full my-4 flex">

							<div class="w-full text-18 text-rose max-sBIG:text-16">
								<div class="flex justify-center my-5">
									<button type="submit" class="buttonLink--medium text-22 text-white p-2 border-2 border-white rounded-2xl hover:text-rose">Envoyer</button>
								</div>
							</div>
						</div>
						{{ form_end(contactForm) }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
