{% extends "base.html.twig" %}

{% block body %}
	<div class="relative max-w-full overflow-hidden font-family" id="session">
		<div class="relative overflow-hidden snip1573 max-w-full flex" id="home">
			<div class="w-6/12 bg-black" id="home-left"></div>
			<div class="w-6/12 relative" id="home-right"></div>

			<div id="triangleTwo-transparent">
				<div class="figcationText">
					<a href="{{ path('home')}}#works">View my works</a>
				</div>
			</div>

			<div id="triangle"></div>
			<div id="triangleTwo">
				<img class="triangleTwo--img" src="{{ asset('images/images/Polygon-1.png')}}" alt="Image représentant le visage de la web Développeuse">
			</div>
		</div>

		<div class="relative flex justify-center h-auto -top-40 max-md:-top-48 max-s:-top-64">
			<div class="absolute inline-flex max-s:flex max-s:flex-col">
				<span class="static-text text-60 text-rose tracking-wider max-md:text-55 max-s:text-50 max-s:text-center">I'm a</span>
				<span class="text-indigo text-60 tracking-wider max-md:text-55 max-s:text-50" id="dynamic-text"></span>
			</div>
		</div>

		<div class="figcaption"></div>
	</div>

	<div class="max-w-full flex flex-col bg-black font-family" id="about">
		<h2 class="text-white text-50 p-2.5 pt-16 tracking-wider">About</h2>

		<div class="flex grow max-mdBIG:block">
			<div class="w-6/12 max-mdBIG:w-full" id="about-left">
				<div class="relative max-w-full h-full flex justify-center items-center">
					<div class="absolute -left-full text-rose text-18 text-center p-5 italic tracking-wider opacity-0 max-lgBIG:text-16" id="movingText">
						<p>
							<span class="text-indigo text-35">"</span>
							<span>En pleine reconversion professionnelle,</span>
						</p>
						<p>Je me suis lancée dans l'informatique après</p>
						<p>une quinzaine d'années en tant que fleuriste.</p>
						<p>Une prise de risque ??? OUI !!!</p>
						<p>Je n'avais pas beaucoup de connaissances dans le domaine,</p>
						<p>et le pari a été gagnant !!!</p>
						<p>Me voilà avec mon diplôme</p>
						<p>et une distinction dans la poche après 2 ans...</p>
						<p>Il fallait juste y croire et s'accrocher !!!
							<span class="text-indigo text-35">"</span>
						</p>
					</div>
				</div>
			</div>
			<div class="w-6/12 flex flex-col max-mdBIG:w-full" id="about-right">
				<p class="text-xl p-3 text-center text-28 text-white">Mes Compétences</p>
				<div class="max-w-full flex grow justify-center text-white p-7">
					<div class="w-full h-full flex justify-center items-center">
						<div class="w-72 h-90 flex flex-col justify-center p-3 border border-white max-lgBIG:w-64">
							<div class="w-full p-1">
								<p>HTML</p>
								<div class="w-full bg-indigo rounded-xl" style="--progress-width: 90%">
									<div class="progressBar bg-rose text-end rounded-xl p-xs">
										<span class="progressLetter mr-2.5 tracking-wider ">90%</span>
									</div>
								</div>
							</div>

							<div class="w-full p-1">
								<p>CSS</p>
								<div class="w-full bg-indigo rounded-xl" style="--progress-width: 80%">
									<div class="progressBar bg-rose text-end rounded-xl p-xs">
										<span class="progressLetter mr-2.5 tracking-wider">80%</span>
									</div>
								</div>
							</div>

							<div class="w-full p-1">
								<p>SASS</p>
								<div class="w-full bg-indigo rounded-xl" style="--progress-width: 70%">
									<div class="progressBar bg-rose text-end rounded-xl p-xs">
										<span class="progressLetter mr-2.5 tracking-wider">70%</span>
									</div>
								</div>
							</div>

							<div class="w-full p-1">
								<p>MYSQL</p>
								<div class="w-full bg-indigo rounded-xl" style="--progress-width: 80%">
									<div class="progressBar bg-rose text-end rounded-xl p-xs">
										<span class="progressLetter mr-2.5 tracking-wider">80%</span>
									</div>
								</div>
							</div>

							<div class="w-full p-1">
								<p>FIGMA</p>
								<div class="w-full bg-indigo rounded-xl" style="--progress-width: 80%">
									<div class="progressBar bg-rose text-end rounded-xl p-xs">
										<span class="progressLetter mr-2.5 tracking-wider">80%</span>
									</div>
								</div>
							</div>

							<div class="w-full p-1">
								<p>Javascript</p>
								<div class="w-full bg-indigo rounded-xl" style="--progress-width: 60%">
									<div class="progressBar bg-rose text-end rounded-xl p-xs">
										<span class="progressLetter mr-2.5 tracking-wider">60%</span>
									</div>
								</div>
							</div>

							<div class="w-full p-1">
								<p>PHP</p>
								<div class="w-full bg-indigo rounded-xl" style="--progress-width: 70%">
									<div class="progressBar bg-rose text-end rounded-xl p-xs">
										<span class="progressLetter mr-2.5 tracking-wider">70%</span>
									</div>
								</div>
							</div>

							<div class="w-full p-1">
								<p>Symfony</p>
								<div class="w-full bg-indigo rounded-xl" style="--progress-width: 70%">
									<div class="progressBar bg-rose text-end rounded-xl p-xs">
										<span class="progressLetter mr-2.5 tracking-wider">70%</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="max-w-full flex flex-col font-family bg-black" id="works">

		<h2 class="text-white text-50 p-2.5 pt-16 tracking-wider">Works</h2>

		<div class="w-full f-full flex grow justify-center pt-20 overflow-hidden">
			<div class="relative w-4/6 h-full max-lgBIG:w-4/5" id="container">
				<ul class="relative w-full h-full text-white">

					{% for project in projects %}
						<li class="relative z-50 w-3/6 mb-5">
							<div class="containerLi relative z-50 w-full border border-white rounded-2xl p-5">
								<h3 class="text-center text-20 text-rose">{{project.description}}</h3>
								<p class="absolute w-32 -top-14 text-center text-16 text-white p-2 rounded-2xl" id="date">{{ project.formattedDate}}</p>
								<p class="text-center text-20 text-rose">{{project.name}}</p>

								<div class="w-full h-48 flex justify-center">
									<img class="object-contain" src="{{ asset('images/projets/' ~ project.image)}}" alt="Image représentant la couverture de la page de warelles">
								</div>

								<div class="flex text-18 text-indigo my-3 max-xxlMD:flex-col max-lgBIG:flex-row max-sBIG:flex-col">
									<p class="mr-3.5 underline underline-offset-4 decoration-2 max-xxlMD:my-3 max-lgBIG:my-0 max-lgBIG:mr-3.5 max-sBIG:my-3">Lien site :</p>
									<a class="buttonLink buttonLink--small text-white" href="{{project.siteLink}}">Visiter le site</a>
								</div>

								<div class="flex text-18 text-indigo my-3 max-xxlMD:flex-col max-lgBIG:flex-row max-sBIG:flex-col">
									<p class="mr-3.5 underline underline-offset-4 decoration-2 max-xxlMD:my-3 max-lgBIG:my-0 max-lgBIG:mr-3.5 max-sBIG:my-3">Lien Figma(maquette) :</p>
									<a class="buttonLink buttonLink--medium text-white" href="{{project.figmaLink}}">
										Explorer la maquette
									</a>
								</div>

								<div class="flex text-18 text-indigo my-3 max-xxlMD:flex-col max-lgBIG:flex-row max-sBIG:flex-col">
									<p class="mr-3.5 underline underline-offset-4 decoration-2 max-xxlMD:my-3 max-lgBIG:my-0 max-lgBIG:mr-3.5 max-sBIG:my-3">Lien Git(code) :</p>
									<a class="buttonLink buttonLink--medium text-white" href="{{project.gitLink}}">
										Consulter le code
									</a>
								</div>

								<div class="flex flex-col text-18 text-indigo my-3">
									<p class="underline underline-offset-4 decoration-2">En savoir plus :</p>
								</div>
							</div>

							<div class="circle absolute top-0 w-8 h-8 bg-fushia max-lgBIG:w-6 max-lgBIG:h-6 max-s:w-5 max-s:h-5"></div>
						</li>
					{% endfor %}

				</ul>
			</div>
		</div>
	</div>

	<div class="max-w-full h-full flex flex-col font-family bg-black" id="contact">
		<h2 class="text-white text-50 p-2.5 pt-16 tracking-wider">Contact</h2>

		<div class="max-w-full flex max-lgBIG:flex-col">
			<div class="w-2/4 flex justify-center items-center max-lgBIG:w-full">

				<div class="relative w-full h-full" id="containerImage">
					<img class="absolute object-contain" id="image1" src="{{ asset('images/images/ordi-transparent-1.webp')}}" alt="image représentant les lignes d'un ordinateur">

					<img class="absolute object-contain" id="image2" src="{{ asset('images/images/ordi-color.webp')}}" alt="image représentant un ordinateur">
				</div>
			</div>

			<div class="w-2/4 h-screen max-lgBIG:w-full">
				<h3 class="text-white text-28 p-2.5">Formulaire</h3>

				<div class="max-w-full h-full flex justify-center items-center">
					<div class="w-4/6 flex flex-col m-12 max-xxlLG:w-9/12 max-lgBIG:w-8/12 max-s:w-full max-sBIG:m-5 max-xsBIG:m-4">

						<div class="my-2.5 flex">
							<p class="mr-2.5 text-white text-25 max-s:text-22 max-xs:text-18">Nom :</p>
							<input class="w-3/4 border-b-2 border-white bg-transparent" placeholder="Nom" type="text">
						</div>

						<div class="my-2.5 flex">
							<p class="mr-2.5 text-white text-25 max-s:text-22 max-xs:text-18">Prénom :</p>
							<input class="w-3/4 border-b-2 border-white bg-transparent" placeholder="Prénom" type="text">
						</div>

						<div class="my-2.5 flex">
							<p class="mr-2.5 text-white text-25 max-s:text-22 max-xs:text-18">Email :</p>
							<input class="w-3/4 border-b-2 border-white bg-transparent" placeholder="E-mail" type="text">
						</div>

						<div class="my-2.5 flex flex-col">
							<p class="mr-2.5 text-white text-25 max-s:text-22 max-xs:text-18">Message :</p>
							<textarea class="w-3/4 h-48 my-2.5 resize-none" name=""></textarea>
						</div>

						<div class="flex justify-center">
							<button class="m-5 buttonLink buttonLink--medium p-2 text-white hover:scale-105" id="button" type="submit">Envoyer</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
