<header class="w-full fixed top-0 z-big flex justify-center h-16 bg-indigo font-family text-white">
	<nav class="w-full list-none bg-indigo h-16" id="nav2">
		<ul class="h-16 flex justify-center items-center">
			<li class="w-32 text-20 text-center tracking-widest hover:scale-110">
				<a href="{{ path('home')}}">Accueil</a>
			</li>
			<li class="w-32 text-20 text-center tracking-widest hover:scale-110">
				<a href="{{ path('home')}}#about">About</a>
			</li>
			<li class="w-32 text-20 text-center tracking-widest hover:scale-110">
				<a href="{{ path('home')}}#works">Projects</a>
			</li>
			<li class="w-32 text-20 text-center tracking-widest hover:scale-110">
				<a href="{{ path('home')}}#contact">Contact</a>
			</li>
			{% if is_granted('ROLE_ADMIN') %}
				<li class="w-32 text-20 text-center tracking-widest hover:scale-110">
					<a href="{{ path('admin_projects_index') }}">Administration</a>
				</li>
			{% endif %}
		</ul>
	</nav>
</header>

<div class="fixed top-0 z-big w-full h-16 bg-indigo font-family text-white min-mdBIG:hidden" id="burger">
	<nav class="relative w-full h-80" id="burgerNav">
		<div class="relative w-14 h-16 left-3.5 cursor-pointer" id="burgerIcon">
			<div class="absolute block h-1 w-10 left-0 bg-black rounded-xl" id="burgerLine"></div>
		</div>
		<ul class="absolute w-full top-16 text-center bg-indigoSpecial" id="burgerUl">
			<li class="burgerLi h-28 text-22 hover:scale-110">
				<a class="link w-full h-full block flex justify-center items-center hover:scale-110" href="{{ path('home')}}">Accueil</a>
			</li>
			<li class="burgerLi h-28 text-22">
				<a class="w-full h-full block flex justify-center items-center hover:scale-110" href="{{ path('home')}}#about">About</a>
			</li>
			<li class="burgerLi h-28 text-22">
				<a class="w-full h-full block flex justify-center items-center hover:scale-110" href="{{ path('home')}}#works">Works</a>
			</li>
			<li class="burgerLi h-28 text-22">
				<a class="w-full h-full block flex justify-center items-center hover:scale-110" href="{{ path('home')}}#contact">Contact</a>
			</li>
			{% if is_granted('ROLE_ADMIN') %}
				<li class="h-28 text-22">
					<a class="w-full h-full block flex justify-center items-center hover:scale-110" href="{{ path('admin_projects_index')}}">Administration</a>
				</li>
			{% endif %}
		</ul>
	</nav>
</div>
