{% extends 'base.html.twig' %}

{% block title %}
	Admin
{% endblock %}

{% block body %}
	<div class="max-w-full h-full flex flex-col font-family bg-black" id="admin">

		<h2 class="text-white text-50 p-2.5 pt-16 tracking-wider">Administration</h2>

		<div class="w-full h-full p-12 flex text-white">

			<div class="w-full flex flex-col text-white border border-white">
				<p class="p-1.5 text-center text-22 text-rose">Objet</p>
				{% for project in project %}
					<p class="w-full h-32 flex justify-center items-center border border-white">{{ project.object }}</p>
				{% endfor %}
			</div>

			<div class="w-full flex flex-col border border-white">
				<p class="p-1.5 text-center text-22 text-rose">Nom</p>
				{% for project in project %}
					<p class="w-full h-32 flex justify-center items-center border border-white bg-roseSpecial">{{ project.name }}</p>
				{% endfor %}
			</div>

			<div class="w-full flex flex-col border border-white">
				<p class="p-1.5 text-center text-22 text-rose">Lien du site</p>
				{% for project in project %}
					<p class="w-full h-32 p-5 flex justify-center items-center border border-white">{{ project.siteLink }}</p>
				{% endfor %}
			</div>

			<div class="w-full flex flex-col border border-white">
				<p class="p-1.5 text-center text-22 text-rose border-border-white">Lien vers figma</p>
				{% for project in project %}
					<p class="w-full h-32 p-5 flex justify-center items-center border border-white bg-roseSpecial">{{ project.figmaLink }}</p>
				{% endfor %}
			</div>

			<div class="w-full flex flex-col border border-white">
				<p class="p-1.5 text-center text-22 text-rose border border-white">Lien vers git</p>
				{% for project in project %}
					<p class="w-full h-32 p-5 flex justify-center items-center border border-white">{{ project.gitLink }}</p>
				{% endfor %}
			</div>

			<div class="w-full flex flex-col border border-white">
				<p class="p-1.5 text-center text-22 text-rose border border-white">Description</p>
				{% for project in project %}
					<p class="w-full h-32 p-2 overflow-y-scroll border border-white bg-roseSpecial">{{ project.description }}</p>
				{% endfor %}
			</div>

			<div class="w-full flex flex-col border border-white">
				<p class="p-1.5 text-center text-22 text-rose border border-white">Image</p>
				{% for project in project %}
					<div class="w-full h-32 flex items-center border border-white">
						<img src="{{ asset('images/projets/' ~ project.image)}}" alt="image représentant la couverture du projet">
					</div>
				{% endfor %}
			</div>

			<div class="w-full flex flex-col border border-white">
				<p class="p-1.5 text-center text-22 text-rose border border-white">Code</p>
				{% for project in project %}
					<p class="w-full h-32 flex justify-center items-center overflow-y-scroll border border-white bg-roseSpecial">{{ project.code }}</p>
				{% endfor %}
			</div>

			<div class="w-full flex flex-col border border-white">
				<p class="p-1.5 text-center text-22 text-rose border border-white">Autres actions</p>
			</div>
		</div>

	</div>
</div>{% endblock %}
